{% extends 'main/layout.html' %}
<!-- prettier-ignore -->
{% block title %} Stats {% endblock %}
<!-- prettier-ignore -->
{% block content %}

<div class="features">
  <h1>Stats</h1>
  <p>
    Cristiano Ronaldo holds the record for the most goals in the UEFA Champions
    League. Ronaldo has scored a staggering 140 goals in 183 appearances in
    Europe’s biggest football competition so far. Along with 140 goals, the
    former Manchester United footballer has registered 48 assists.
  </p>
  <button class="btn btn-primary">More Stats</button>
</div>

{% endblock %}
